@page
@model WebAppTodo.Models.Todo.IndexViewModel


<a asp-action="Add">
    <div id="prvi">
        <h4>
            <span class="glyphicon glyphicon-plus-sign"></span> Add Item
        </h4>
    </div>
</a>


<ul class="todoList">
    
    @if (!(Model.TodoViewModels is null)) {
        <h1>Empty</h1>
    }
    else { 
        foreach (var item in @Model.TodoViewModels)
        {
            < li >
                < h5 > @item.Text </ h5 >
            </ li >
        }
    }
</ul>
